@model AccountViewModel
@{
    ViewData["Title"] = "Account";
}

<div class="d-flex min-vh-100">
    <!-- Left Sidebar -->
    <div class="bg-warning bg-opacity-25 d-flex flex-column vh-100 position-sticky top-0">
        <partial name="~/Views/Home/LeftSidebar.cshtml"/>
    </div>

    <!-- Center Content (Styled Account Page) -->
    <div class="flex-grow-1 d-flex justify-content-center bg-light overflow-auto">
        <div class="col-sm-12 col-md-8 col-lg-6 p-4">
            <h2 class="text-center mb-3">@Model.Name</h2>

            <div class="mb-3">
                <label class="fw-bold">Email:</label>
                <p class="fs-5">@Model.Email</p>
            </div>

            <div class="mb-3">
                <label class="fw-bold">Bydliště:</label>
                <p class="fs-4">@Model.Hometown</p>
            </div>
            
        </div>
    </div>

    <!-- Right Sidebar -->
    <div class="bg-warning bg-opacity-25 d-flex flex-column vh-100 position-sticky top-0">
        <partial name="~/Views/Home/RightSidebar.cshtml"/>
    </div>
</div>

<partial name="~/Views/Home/ToggleButton.cshtml"/>