/* Inputy při focusu */
.login-input:focus {
    outline: none;
    border-bottom-color: #F98866;
}

/* Styl tlačítka */
.login-button {
    background-color: #F98866;
    border: none;
    color: #FFF;
    padding: 0.5rem 1.5rem;
    border-radius: 9999px; /* Oválné tlačítko */
    font-weight: 600;
    cursor: pointer;
    font-size: 0.95rem;
}

.login-button:hover {
    background-color: #f77755;
}
