@{
    ViewData["Title"] = "Registrace byla úspěšná";
}

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6 registration-container">
        <h1 class="tw-bold">Děkujeme Vám za registraci</h1>
        <p>Vaše registrace byla úspěšná, nyní se můžete přihlásit.</p>
        <div class="d-flex justify-content-center register-link">
            <button class="register-button">
                <a href="/Account/Login">Přihlásit se</a>
            </button>
        </div>
    </div>
</div>