.create-post-modal-container #imagePreviewContainer {
    position: relative;
    padding: 10px; /* Padding pro náhled obrázku */
    max-width: 150px; /* Max šířka pro náhled obrázku */
    max-height: 150px; /* Max výška pro náhled obrázku */
    overflow: hidden; /* Skrývá obsah přesahující max-height */
    display: none; /* Zpočátku skryté, dokud obrázek nevybereme */
    border: none #ccc; /* Volitelně přidáme rámeček kolem náhledu */
}
.create-post-modal-container  #imagePreview {
    width: 100px;     /* Přesná šířka */
    height: 100px;    /* Přesná výška */
    object-fit: cover; /* Zajistí, že obrázek vyplní daný prostor a zachová estetiku */
    border-radius: 5px; /* Volitelně, zaoblené rohy */
}
.create-post-modal-container .remove-image {
    position: absolute;
    top: +0px;
    right: +30px;
    background-color: #ff926b; /* Stejná oranžová jako hlavní tlačítko */
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Jemný stín */
    transition: background-color 0.3s ease;
}

/* Efekt při najetí na křížek */
.create-post-modal-container .remove-image:hover {
    background-color: #e86f59; /* Trochu tmavší oranžová při hoveru */
}
.create-post-modal-container .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.create-post-modal-container .modal-header {
    margin-bottom: 15px;
    font-weight: bold;  /* Tučný text */
    font-size: 20px;    /* Zvětšení velikosti textu */
    font-family: 'Roboto Light', sans-serif ; /* Univerzální font */
    text-transform: none;  /* Zajistí, že text nebude automaticky velkými písmeny */
}

.create-post-modal-container .modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
}

.create-post-modal-container .input-field, .textarea-field {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.create-post-modal-container .ButtonPublish {
    background-color: #ff926b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 90px;
    cursor: pointer;
}

.create-post-modal-container .button-group {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    justify-content: space-between;
}

.create-post-modal-container .ButtonPopup {
    background-color: #f1f1f1;
    color: #333;
    border: none;
    border-radius: 90px;
    padding: 10px;
    margin: 3px;
    flex-grow: 1;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.create-post-modal-container .ButtonPopup:hover {
    background-color: #e86f59;
    color: white;
}

.create-post-modal-container .ButtonPopup.active {
    background-color: #ff926b;
    color: white;
}

.create-post-modal-container .extra-fields {
    display: none;
}

/* Ikony vedle sebe */
.create-post-modal-container .icon-group {
    display: flex;
    justify-content: flex-start; /* Zarovnáno na levou stranu */
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 12px;
}

.create-post-modal-container .icon-button {
    display: inline-block;
    width: 26px; /* Fixní šířka */
    height: 26px; /* Fixní výška */
    cursor: pointer;
    position: relative;
}

.create-post-modal-container .icon-label {
    display: block;
    width: 100%;
    height: 100%;
}

.create-post-modal-container .icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(0) brightness(0) contrast(100%); /* Černobílé a kontrastní ikony */
}

/* Skrytí polí pro lokaci a datum */
.create-post-modal-container .location-field, .date-field {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}