.thepost {
    padding-bottom: 5px !important;
}
.post-settings {
    padding: 5px;
    background-color: #FFFAEF;
    border-color: #E5E5E5;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #FFF2D6;
}

.dropdown-menu .dropdown-item:active {
    background-color: #FFF2D6;
    color: black;
}

.thepost .btn-sm {
    padding: 3px 5px 3px;
}
.btn-hover-light:hover {
    background-color: #FFF2D6 !important;
    border-radius: 8px;
}

/* Custom adjustments if needed */
@media (max-width: 576px) {
    .thepost .flex-column {
        justify-content: center;
        height: 30px; /* Match avatar height */
    }
    .thepost strong {
        line-height: 1.2;
    }
    .thepost small {
        line-height: 1;
        margin-top: -2px; /* Adjust vertical spacing */
    }
    
    /* Hide button text on mobile */
    .thepost .btn-sm span.text-label {
        display: none;
    }

    /* Optional: Adjust button padding for better mobile appearance */
    .thepost .btn-sm {
        padding: 0.25rem 0.5rem;
    }
}