.post-settings {
    padding: 5px;
    background-color: #FFFAEF;
    border-color: #E5E5E5;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #FFF2D6;
}

.dropdown-menu .dropdown-item:active {
    background-color: #FFF2D6;
    color: black;
}

/* Custom adjustments if needed */
@media (max-width: 576px) {
    .thepost .flex-column {
        justify-content: center;
        height: 30px; /* Match avatar height */
    }
    .thepost strong {
        line-height: 1.2;
    }
    .thepost small {
        line-height: 1;
        margin-top: -2px; /* Adjust vertical spacing */
    }
}