/*pojebane css*/
*{
    font-family: 'Inter', sans-serif;
}

#openModalButton {
    color: #969696;
    border-radius: 20px;
    border-color: #969696;
    border-width: 1px;
    width: 100%;
    text-transform: none;
    text-align: left;
    transition: transform 0.1s ease;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
}

#openModalButton .i {
    margin-left: auto;
}

#openModalButton:active {
    transform: scale(1.01);
}