/*pojebane css*/
*{
    font-family: 'Inter', sans-serif;
}

#openModalButton {
    color: #969696;
    border-radius: 20px;
    border-color: #969696;
    border-width: 1px;
    width: 100%;
    text-transform: none;
    text-align: left;
    transition: transform 0.1s ease;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
}

#openModalButton .i {
    margin-left: auto;
}

#openModalButton:active {
    transform: scale(1.01);
}

/*odstranění příspěvku modal ----------------------------------*/
.modal-content {
    border-radius: 16px;
    padding: 20px;
}

/* Nadpis */
.modal-header {
    border-bottom: none;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.modal-title {
    font-size: 22px;
    font-weight: bold;
}

/* Styl pro tlačítka Diskuze, Akce, Petice */
.tab-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.tab-btn {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #f3f3f3;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-btn.active {
    background-color: #ff926e;
    color: white;
}

/* Pole pro zadávání textu */
.form-control {
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 12px;
    font-size: 14px;
}

/* Ikona pro nahrání obrázku */
.image-upload {
    display: flex;
    justify-content: left;
    padding: 10px 0;
    cursor: pointer;
}

.image-upload img {
    width: 30px;
    height: 30px;
}

/* Tlačítko Publikovat */
.publish-btn {
    background-color: #ff926e;
    color: white;
    border-radius: 25px;
    padding: 12px;
    border: none;
    width: 100%;
    font-weight: bold;
    transition: background 0.3s;
}

.publish-btn:hover {
    background-color: #ff7b50;
}