@{
    ViewData["Title"] = "Home Page";
}

<div class="flex min-h-screen">
    <!-- Left Sidebar -->
    <div class="bg-orange-100 flex flex-col h-screen">
        <partial name="LeftSidebar"/>
    </div>

    <!-- Center Content (Middle Page) -->
    <div class="flex-1 flex justify-center bg-gray-50">
        <partial name="AddContribution"/>
    </div>

    <!-- Right Sidebar -->
    <div class="bg-orange-100 flex flex-col h-screen">
        <partial name="RightSidebar"/>
    </div>
</div>


