<div class="w-64 bg-orange-100 min-h-screen p-4 flex flex-col">
    
    <!-- Navigation Links -->
    <nav class="mt-6">
        <ul class="space-y-3">
            <li>
                <a href="#" class="flex items-center p-2 rounded-lg hover:bg-orange-200 transition">
                    <span class="material-icons text-gray-600">place</span>
                    <span class="ml-3 text-gray-800">Mapa</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 rounded-lg hover:bg-orange-200 transition">
                    <span class="material-icons text-gray-600">store</span>
                    <span class="ml-3 text-gray-800">Bazar</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 rounded-lg hover:bg-orange-200 transition">
                    <span class="material-icons text-gray-600">pets</span>
                    <span class="ml-3 text-gray-800">Pejskaři</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 rounded-lg hover:bg-orange-200 transition">
                    <span class="material-icons text-gray-600">search</span>
                    <span class="ml-3 text-gray-800">Ztráty a nálezy</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 rounded-lg hover:bg-orange-200 transition">
                    <span class="material-icons text-gray-600">report</span>
                    <span class="ml-3 text-gray-800">Stížnosti</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- User Avatars -->
    <div class="mt-auto flex space-x-2">
        <img src="~/wwwroot/images/user1.jpg" alt="User 1" class="w-10 h-10 rounded-full">
        <img src="~/wwwroot/images/user2.jpg" alt="User 2" class="w-10 h-10 rounded-full">
        <img src="~/wwwroot/images/user3.jpg" alt="User 3" class="w-10 h-10 rounded-full">
    </div>
</div>
